<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>D3 Test</title>
        <!-- a little faster web-server -->
        <!-- if d3 is not on our server, we can't use d3 to parse the csv -->
        <!-- <script type="text/javascript" src="http://folk.uio.no/axelbsa/d3/d3.v3.min.js"></script>  --> 
        <script type="text/javascript" src="{{ url_for('static', filename='d3/d3.v3.js') }}"></script>
    </head>
    <body>
        <h1>Testing D3, hesterbest</h1>
        <script type="text/javascript">
            // Your beautiful D3 code will go here

        var dataset = [ 5, 10, 13, 19, 21, 25, 22, 18, 15, 13, 11, 12, 15, 20, 18, 17, 16, 18, 23, 25 ];
            var w = 500;
            var h = 100;

            var svg = d3.select("body")
                .append("svg")
                .attr("width", w)
                .attr("height", h);

                d3.csv("/tmp/icecream.csv", function(csv) {

                    csv.sort(function(a,b) {
                        return b.order - a.order;
                    })

                    console.log(csv)

                    svg.selectAll("circle")
                        .data(csv)
                        .enter()
                        .append("circle")
                        .attr("cx", function(d) { return x(0); })
                        .attr("cy", function(d) { return y(0); })
                        .attr("r", function(d) { return r(0); })

                        .style("fill", function(d) { return c(d.E-Mail); })
                        .style("opacity",function(d) { return o("SomeValue");  })
                })
                
                svg.selectAll("text")
                    .data(dataset)
                    .enter()
                    .append("text")
                    .text( function(d) {
                        return d;
                    })
                    .attr("x", function(f, i) {
                        return i * (w / dataset.length);
                    })

                    .attr("y", function(d) {
                        return h - d * 4;
                    })
                    

                svg.selectAll("rect")
                    .data(dataset)
                    .enter()
                    .append("rect")


                    .attr("x", function(f, i) {
                        return i * (w / dataset.length);
                    })

                    .attr("y", function(d) {
                        return h - d * 4;
                    })

                    .attr("width", 20)
                    .attr("height", function(d) {
                        return d * 4; 
                    })

                    .attr("fill", function(d) {
                        return "rgb(0, 0, " + (d * 10) + ")";
                    })
        </script>
    </body>
</html>
